# Kindle PW4 recovery udev rules
# Allows access without sudo for users in plugdev/dialout groups.

# Amazon Kindle - normal mode (Mass Storage)
SUBSYSTEM=="usb", ATTR{idVendor}=="1949", ATTR{idProduct}=="0004", MODE="0664", GROUP="plugdev", SYMLINK+="kindle_usb"

# Amazon Kindle - USBNet (CDC-ECM/RNDIS)
SUBSYSTEM=="usb", ATTR{idVendor}=="1949", ATTR{idProduct}=="0005", MODE="0664", GROUP="plugdev", SYMLINK+="kindle_usbnet"

# Amazon Kindle - CDC-ACM serial
SUBSYSTEM=="usb", ATTR{idVendor}=="1949", ATTR{idProduct}=="0006", MODE="0664", GROUP="plugdev", SYMLINK+="kindle_serial"

# NXP i.MX7 SDP ROM download mode
SUBSYSTEM=="usb", ATTR{idVendor}=="15a2", ATTR{idProduct}=="0076", MODE="0664", GROUP="plugdev", SYMLINK+="kindle_sdp"

# NXP i.MX6SL SDP (alternate SoC variant)
SUBSYSTEM=="usb", ATTR{idVendor}=="15a2", ATTR{idProduct}=="007d", MODE="0664", GROUP="plugdev", SYMLINK+="kindle_sdp_alt"

# USB-UART adapters (CH340G)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="kindle_uart", MODE="0664", GROUP="dialout"

# USB-UART adapters (CP2102)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="kindle_uart", MODE="0664", GROUP="dialout"

# USB-UART adapters (FTDI FT232R)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="kindle_uart", MODE="0664", GROUP="dialout"
